<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Air</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Tables</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/tabla_anos">Years of life lost</a></li>
            <li><a class="dropdown-item" href="/tabla_muertes">Premature deaths</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Maps</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/mapa_anos">Years of life lost</a></li>
            <li><a class="dropdown-item" href="/mapa_muertes">Premature deaths</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Graphics of years lost</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/grafica01_anos">By pollutant</a></li>
            <li><a class="dropdown-item" href="/grafica02_anos">Total</a></li>
            <li><a class="dropdown-item" href="/grafica03_anos_get">Comparision</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Graphics of premature deaths</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/grafica01_muertes">By pollutant</a></li>
            <li><a class="dropdown-item" href="/grafica02_muertes">Total</a></li>
            <li><a class="dropdown-item" href="/grafica03_muertes_get">Comparision</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
